.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 144px; /* 64px header + 80px spacing */
  position: relative;
  background: var(--n-0);
}

@media (max-width: 1032px) {
  .container {
    padding-top: 96px; /* 64px header + 32px spacing */
  }
}