.memoBox {
  align-items: flex-start;
  background-color: var(--n-50);
  border: 1px solid;
  border-color: var(--primarymain-300);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 104px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
}

.textArea {
  align-self: stretch;
  background: transparent;
  border: none;
  color: var(--n-700);
  flex: 1;
  font-family: var(--label-1-reading-medium-font-family);
  font-size: var(--label-1-reading-medium-font-size);
  font-style: var(--label-1-reading-medium-font-style);
  font-weight: var(--label-1-reading-medium-font-weight);
  letter-spacing: var(--label-1-reading-medium-letter-spacing);
  line-height: var(--label-1-reading-medium-line-height);
  margin-top: -1px;
  outline: none;
  position: relative;
  resize: none;
  width: 100%;
}

.textArea::placeholder {
  color: var(--n-700);
}

.countWrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.count {
  color: var(--n-600);
  font-family: var(--label-1-normal-regular-font-family);
  font-size: var(--label-1-normal-regular-font-size);
  font-style: var(--label-1-normal-regular-font-style);
  font-weight: var(--label-1-normal-regular-font-weight);
  letter-spacing: var(--label-1-normal-regular-letter-spacing);
  line-height: var(--label-1-normal-regular-line-height);
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}