.segment {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  position: relative;
  transition: background-color 0.2s ease;
}

.active {
  background-color: var(--primaryjogak-1);
}

.default {
  background-color: var(--n-300);
}