.progressBar {
  align-items: center;
  border-radius: 2px;
  display: flex;
  gap: 2px;
  height: 18px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.segmentInstance {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;
  width: unset !important;
}